@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Montez');
@import url('https://fonts.googleapis.com/css?family=Titillium+Web');

body {
  background-color: #fafafa;
  font-family: 'Titillium Web', sans-serif;
  margin-bottom: 40px;
  overflow-x: hidden;
}

.top-nav {
  background-color: white;
  border-bottom: 1px solid #edeeee;
  height: 70px;
  padding-top: 7px;
}

.brand {
  font-size: 40px;
  font-weight: bolder;
  color: #125688;
  font-family: 'Montez', cursive;
}

.brand a {
  text-decoration: none;
  color: #125688;
}

.brand a:hover {
  color: #125688;
}

.top-nav .add a {
  font-weight: bold;
  color: #125688;
  font-size: 16px;
  padding-left: 8px;
}

.top-nav .add {
  margin-top: 17px;
}

.card {
  background-color: #fff;
  border-radius: 0.25rem;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
  border: 1px solid #e8e8e8;
  margin-top: 40px;
  padding: 0;

}

.handle {
  margin: 10px;
  color: #125688;
  font-weight: bold;
  font-size: 18px;
}

.card p, .card .message {
  font-size: 18px;
  margin: 20px;
}

.card.form {
  padding: 20px;
}

label {
  font-size: 18px;
}

input {
  font-size: 18px;
  font-weight: 400;
}

.my-btn {
  background-color: #125688;
  width: 100%;
  border: none;
  font-size: 24px;
  color: white;
  margin-top: 10px;
  cursor: pointer;
}

.my-btn:active {
  opacity: 0.7;
}

.checkbox {
  margin-top: 5px;
}

.checkbox label {
  margin-top: 5px;
}

input#user_remember_me.boolean.optional {
  margin-right: 5px;
}

.clear-fix {
  clear: both;
}

.gram-actions {
  margin-left: auto;
}

.gram-actions a {
  font-weight: bold;
  font-size: 16px;
  margin-right: 20px;
  color: #125688;
}

.separator-right {
  border: 0;
  height: 1px;
  width: 100%;
  margin-top: 0;
  margin-bottom: 5px;
  margin-left: auto;
  background-image: linear-gradient(to right, rgba(237, 238, 238, 0), rgba(237, 238, 238, 0), rgba(237, 238, 238, 0.25), rgba(237, 238, 238, 0.5), rgba(237, 238, 238, 1));
}

.separator-left {
  border: 0;
  height: 1px;
  width: 100%;
  margin-top: 0;
  margin-bottom: 5px;
  margin-left: auto;
  background-image: linear-gradient(to right, rgba(237, 238, 238, 1), rgba(237, 238, 238, 0.5), rgba(237, 238, 238, 0.25), rgba(237, 238, 238, 0), rgba(237, 238, 238, 0));
}

.share {
  margin-top: 10px;
}

.gram-msg {
  text-align: justify;
}

.comments {
  padding-top: 0;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.comment {
  font-size: 16px;
  margin-top: 5px;
}

.comment_handle {
  color: #125688;
  font-weight: bold;
  font-size: 18px;
}

.gram_picture label {
  margin-right: 5px;
}

abbr[title] {
  text-decoration: none;
}

@media (max-width: 1175px) {
  #welcome {
    display: none;
  }
}

.help-block {
  color: #ff3333;
  background-color: #FFEEEE;
  border-radius: 3px;
  padding: 2px 8px 2px 8px;
}

.card .help-block {
  margin: 10px;
}

@media (max-width: 766px) {
  .top-nav .add a {
    font-size: 14px;
  }

  .handle, .card p, .card .message, .comment_handle {
    font-size: 16px;
  }

  .gram-actions a, .comment {
    font-size: 14px;
  }

  .comments h3 {
    font-size: 1.5rem;
  }

  .comments h4 {
    font-size: 1.25rem;
  }

  .my-btn {
    font-size: 18px;
  }

  .brand {
    font-size: 34px;
  }

  .top-nav .add {
    margin-top: 14px;
  }

  .top-nav {
    padding-top: 10px;
  }
}
